<div class="card">
    <h3 class="card-header">Face Surveillance</h3>
    <div class="card-body">

<form class="form">
  <label>Upload Image To Azure Blob</label>
  <input name="inputValue" type="text" class="form-control" [(ngModel)]="imageurl">
</form>

<div class="row" style="margin-bottom:15px;">
<div class="col-md-3">
  <input type="file" #file placeholder="Choose file" (change)="uploadFileAzure(file.files)" style="display:none;" multiple>
  <button style="margin-top:15px;" type="button" class="btn btn-primary btn-sm" (click)="file.click()">Upload File</button>    
</div>
<div  style="margin:15px;">
  <span class="upload" *ngIf="progress > 0">
    {{progress}}%
  </span>
  <span class="upload" *ngIf="message"  style="background-color:lightskyblue; margin:10px;">
     {{message}}
  </span>
</div>
</div>

<div class="mainImgContainer"  *ngIf="showImage">
  Identified Person: <h6>{{name}}</h6>
  <img  class="card-img main-img" [src]="imageurl"  />
  </div>
    </div>
</div>