<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

  <div class="card">
    <h3 class="card-header">Face Authentication</h3>
    <div class="card-body">

      <div class="form-group">
        <label>Person Group</label>
        <select [(ngModel)]="selectedGroupId" name="personGroups" class="form-control">
          <option value="">(Select)</option>
          <option *ngFor="let group of personGroups" [value]="group.personGroupId">
            {{group.name}} ({{group.personGroupId}})
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Image URL:</label>
        <input type="text" class="form-control" name="groupName" [(ngModel)]="imageUrl">
        <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>  
           
      </div>
      <button class="btn btn-primary btn-sm" (click)="OpenCapture()">{{cameraButtonText}}</button>  
      <!--button class="btn btn-primary btn-sm" (click)="detect()">Detect</button>
      <button class="btn btn-primary btn-sm" (click)="identify()">Identify</button-->
      <button class="btn btn-primary btn-sm" (click)="Verify()">Verify Person</button>
      
      <div class="card" *ngIf="showCamera">
      <app-camera class="card" (pictureTaken)="handleImage($event)"></app-camera>
      <div class="card" *ngIf="webcamImage">
        <a href="{{imageUrl}}" >
        <img [src]="webcamImage.imageAsDataUrl" />
      </a>
      </div>
    </div>

    <div *ngIf="name">
      <ngb-alert >       
       <span style="color:rgb(3, 80, 3)">Person Identified :</span> <h5 style="color:green">{{name}}</h5>         
      </ngb-alert>
    </div>

      <div *ngIf="selectedFace" class="text-primary">
        <pre class="text-primary">{{selectedFace | json}}</pre>
      </div>
      <div *ngIf="selectedFace && selectedFace.identifiedPerson">
        <ngb-alert>
          Identified Person Name: {{selectedFace.name}}
          
        </ngb-alert>
      </div>
    </div>
  </div>

  <div class="card" >

    <div class="mainImgContainer" *ngIf="imageUrl">
      <img #mainImg class="card-img main-img" [src]="imageUrl" (load)="imageLoaded($event)" />

      <div [ngClass]="{'face-box-green': item.identifiedPerson, 'face-box-yellow': !item.identifiedPerson}" *ngFor="let item of detectedFaces"
        (click)="faceClicked(item)" [style.top.px]="item.faceRectangle.top * multiplier" [style.left.px]="item.faceRectangle.left * multiplier"
        [style.height.px]="item.faceRectangle.height * multiplier" [style.width.px]="item.faceRectangle.width * multiplier"></div>

    </div>
  </div>
</div>